.background {
    background-image:url(../image/background-image.png);
    background-repeat: no-repeat;
    background-size: 100% 701px;
}

.container {
    max-width: 1074px;
    width: 100%;
    margin: auto;
}

.menu-item-section {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu-item {
    color: #FFFFFF;
    font-size: 16px;
}

.header-title-text {
    font-style: normal;
    font-weight: 300;
    font-size: 72px;
    line-height: 95%;
    letter-spacing: -0.05em;
    color: #FFFFFF;
}

.header-description-text {
    font-style: normal;
    font-weight: 300;
    font-size: 50px;
    line-height: 110%;
    letter-spacing: -0.03em;
    color: #FFFFFF;
}

.chocolate-font-color {
    color: chocolate;
}

.hero-section {
    height: 700px;
}

.portfolio-section-title-top-border-line {
    width: 6%;
    border: 1px solid #F77A5A;
}

.portfolio-section-title {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #F77A5A;
}

.portfolio-section-subtitle {
    font-style: normal;
    font-weight: 300;
    font-size: 50px;
    line-height: 110%;
    letter-spacing: -0.03em;
    color: #4A4A4A;
}

.portfolio-section-subtitle-description {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #858585;
}

#portfolio-section-scroll-list-container {
    height: auto;
    overflow-x: auto;
    white-space: nowrap;
}

.item {
    display: inline-block;
}

.portfolio-section-scroll-list-item-title {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #4A4A4A;
}

.portfolio-section-scroll-list-item-description {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #858585;
}

.portfolio-section-button-container {
    justify-content: center;
}

.portfolio-section-button {
    border-radius: 40px;
    background: linear-gradient(118.59deg, #EF4E40 0%, #F77A5A 100%);
}

.testimonials-article-background-color {
    background: #F7F7F7;
}

.testimonials-section-title-top-border-line {
    width: 8%;
    border: 1px solid #F77A5A;
}

.testimonials-section-ceo-name {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #4A4A4A;
}

.testimonials-section-ceo-profession {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #858585;
    opacity: 0.8;
}

.testimonials-section-description {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #4A4A4A;
}

.footer-background-color {
    background: linear-gradient(118.59deg, #F77A5A 10.42%, #FFA573 83.85%);
}

.footer-title {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 130%;
    color: #FFFFFF;
}

.footer-description {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 130%;
    color: #FFFFFF;
    opacity: 0.8;
}
